[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "~=1.16"
torch = "~=1.0.0"
scikit-learn = "*"
pandas = "*"
matplotlib = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.6"
